{% extends "base.html" %}
{% block content %}

<div class="about">
<div class="small-container">
    
    <h1 >ABOUT OUR STORE</h1>
    
         <h2>
            Apple and Major League Baseball (MLB) today announced the August 2023 “Friday Night Baseball” schedule, available to all Apple TV+ subscribers.
            “Friday Night Baseball” games on Apple TV+ are called each week by Wayne Randazzo (play-by-play), Dontrelle Willis (analyst), Heidi Watney (sideline reporter), Alex Faust (play-by-play), Ryan Spilborghs (analyst), and Tricia Whitaker (sideline reporter). Brian Gorman and Dale Scott — both former MLB umpires — join to break down rules and calls. Game assignments for announcers will be shared on a weekly basis.
            Lauren Gardner and Siera Santos continue to handle “Friday Night Baseball” studio show hosting duties, with former MLB players Xavier Scruggs and Matt Joyce serving as analysts alongside baseball journalist Russell Dorsey and betting analyst Claudia Bellofatto track the package and ensure that it arrives safely.</h2>   
        </div>      
</div>





<!--footer-->
{% endblock content %}