{% extends "base.html" %}
{% block content %}
{% load static %}


<!---account page-->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/images1.jpg'%}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <h3 style="text-align: center;">changepassword</h3>
                
                    
                
                    <form method="POST">
                        {% csrf_token %}
                        <input type="email" name="Email" placeholder="Email">
                        <input type="password" name="NPASSWORD" placeholder="New password">
                        <a href="{%url 'changepassword'%}"><button class="btn">submit</button></a>
                        {% if messages %}
                        {% for i in messages %}
                        {{i}}
                        <br><br><h3><a href="{%url 'login'%}">login</a></h3>
                        {% endfor %}
                         {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}